binaries/server_bar
source/*.o
source/sendevent+/sendevent

/Debug
/Release
/binaries
/Project
/object
/manual
/result
/tools

/thirdparty/Library

source/Library

test/object
test/binaries
test/Project
test/source/source
test/check

manual/html

test/tests/*/*/Test
test/tests/*/*/Logs
test/tests/*/*/result.diff
